.info {
  grid-area: main;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
}

.info li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 3rem 50%;
  grid-template-columns: 30% 50%;
  grid-template-areas:
    "property value"
    "property value";
  -webkit-column-gap: 3rem;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
  padding-bottom: 1rem;
}

.property {
  -ms-grid-row-span: 2;
  grid-area: property;
  font-weight: 500;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: 3rem;
}

.value {
  -ms-grid-row-span: 2;
  grid-area: value;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-family: inherit;
}

.value button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.value button {
  background: -o-linear-gradient(rgb(158, 0, 220), rgb(35, 1, 45));
  background: linear-gradient(rgb(158, 0, 220), rgb(35, 1, 45));
  color: white;
  margin-top: 1rem;
  padding: 0.75rem 4rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.value textarea {
  border: 1px solid rgb(225, 225, 225);
}

.value textarea:focus {
  outline-color: rgb(158, 0, 220);
}
.value button:hover {
  background: rgb(158, 2, 220);
}

@media (min-width: 992px) {
  .info li {
    -ms-grid-columns: 30% 3rem auto;
    grid-template-columns: 30% auto;
  }
}
