.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 75%;
  height: 2rem;
  padding: 0;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin: 1rem auto;
}

.actions input {
  width: 2rem;
  height: 2rem;
  border: none;
  text-align: center;
}

.actions a,
.actions button {
  height: 100%;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
}

.limit {
  color: rgb(160, 160, 160);
}

.actions button,
.actions form {
  background-color: transparent;
  border: none;
  padding: 0 0.7rem;
  z-index: 1;
}

.actions input:focus {
  outline-color: rgb(158, 0, 220);
}

.actions:hover {
  background-color: white;
}

.actions button:hover {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

@media (min-width: 576px) {
  .actions {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 60%;
    height: 2rem;
    margin: 1rem;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .actions button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .actions {
    width: 80%;
    height: 5%;
    margin: 1rem auto;
  }

  .actions form,
  .actions button {
    height: 100%;
    padding: 0 1.45rem;
  }
  .actions form {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .actions button:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
  }
}

@media (min-width: 992px) {
  .actions {
    margin: 1rem;
    margin-left: 0;
    width: 70%;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}

@media (min-width: 1200px) {
  .actions {
    width: 50%;
  }
}

@media (min-width: 1400px) {
  .actions {
    width: 40%;
  }
}
