.delete-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.delete-actions button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 3.5rem;
  margin: 1rem 0.3rem 0 0.3rem;
  padding: 0.5rem 1rem;
  background: transparent;
  border: 2px solid rgb(89, 219, 219);
  border-radius: 6px;
  color: white;
  font-size: 20px;
}

.del:hover {
  background-color: rgb(225, 0, 0);
  border: 2px solid rgb(225, 0, 0);
}

.cancel:hover {
  background-color: rgb(0, 175, 0);
  border: 2px solid rgb(0, 175, 0);
}
