.no-messages {
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgb(35, 1, 45);
  text-align: center;
}

@media (min-width: 768px) {
  .no-messages {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 5rem 5rem;
  }
}

@media (min-width: 992px) {
  .no-messages {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 6rem;
  }
}
