.form-control {
  height: 100vh;
  color: rgb(35, 1, 45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.form-control h1 {
  margin-bottom: 2rem;
}
.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  border: none;
  font: inherit;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: rgb(158, 0, 220);
}

.form-control input.invalid,
.form-control textarea.invalid {
  border-color: red;
}

.error {
  list-style: none;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(255, 125, 125);
  border-radius: 6px;
}

.btn {
  color: white;
  background: rgb(158, 0, 220);
  padding: 0.5rem 0.5rem;
  font-size: 24px;
  border: 2px solid rgb(158, 0, 220);
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background: rgb(158, 0, 220);
}

@media (min-width: 768px) {
  .btn {
    color: white;
    background: rgb(158, 0, 220);
    padding: 1rem 1rem;
  }
}

@media (min-width: 992px) {
  .btn {
    color: rgb(35, 1, 45);
    background: transparent;
  }
}
