.product-ul {
  list-style: none;
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, 100%);
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 1.2rem;
}

.no-product {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgb(35, 1, 45);
  text-align: center;
  margin-top: 5rem;
}

.no-product h1 {
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.link-add-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2rem;
  height: 17.5vh;
  padding: 0.5rem 0.5rem;
  font-size: 24px;
  border: none;
  border-radius: 6px;
  padding-top: 6rem;
}
.link-add-product a {
  margin: 1rem;
  color: white;
  padding: 0.5rem 0.75rem;
  border: 2px solid rgb(158, 0, 220);
  background: rgb(158, 0, 220);
  border-radius: 9px;
  text-decoration: none;
  cursor: pointer;
}

.no-product a {
  background: -o-linear-gradient(rgb(158, 0, 220), rgb(35, 1, 45));
  background: linear-gradient(rgb(158, 0, 220), rgb(35, 1, 45));
  color: white;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}
.link-add-product a:hover {
  color: white;
  background: rgb(158, 2, 219);
}
.no-product a:hover {
  background: rgb(158, 2, 219);
}

@media (min-width: 576px) {
  .product-ul {
    grid-template-columns: repeat(auto-fill, 45%);
  }
}

@media (min-width: 768px) {
  .product-ul {
    margin-top: 5rem;
    grid-template-columns: repeat(auto-fill, 31.6%);
    row-gap: 2rem;
  }
  .link-add-product {
    margin-top: 5rem;
  }
  .link-add-product a {
    color: white;
    background: rgb(158, 2, 219);
    padding: 1.5rem 3rem;
  }
}

@media (min-width: 768px) {
  .link-add-product {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .product-ul {
    grid-template-columns: repeat(auto-fill, 23.4%);
  }
  .link-add-product a {
    padding: 0.8rem 0.75rem;
  }
}

@media (min-width: 1200px) {
  .link-add-product a {
    color: rgb(35, 1, 45);
    background: transparent;
  }
}

@media (min-width: 1400px) {
  .product-ul {
    grid-template-columns: repeat(auto-fill, 16.4%);
  }
}
