.error {
  color: rgb(85, 1, 125);
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -o-linear-gradient(rgb(89, 219, 219), 66%, rgb(85, 1, 125));
  background: linear-gradient(rgb(89, 219, 219), 66%, rgb(85, 1, 125));
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
}

.expired {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  height: auto;
}

.expired img {
  width: auto;
  height: auto;
}

.error p {
  font-size: 2rem;
  padding-left: 2rem;
}
