.icon {
  position: relative;
  top: -3rem;
  left: 19.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  padding-bottom: 0.11rem;
  color: white;
  background-color: rgb(158, 0, 220);
}

@media (min-width: 576px) {
  .icon {
    left: 31rem;
  }
}

@media (min-width: 768px) {
  .icon {
    left: 41rem;
  }
}
@media (min-width: 992px) {
  .icon {
    top: -0.5rem;
    left: -1.25rem;
  }
}
