.spinner {
  display: inline-block;
  width: 5rem;
  height: 5rem;
}
.spinner:after {
  content: " ";
  display: block;
  width: 4rem;
  height: 4rem;
  margin: auto;
  border-radius: 50%;
  border: 5px solid rgb(158, 0, 220);
  border-color: rgb(158, 0, 220) transparent rgb(158, 0, 220);
  -webkit-animation: spinner 2s linear infinite;
  animation: spinner 2s linear infinite;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
