.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: hidden;
}

.modal {
  position: fixed;
  height: auto;
  width: auto;
  top: 50%;
  left: 50%;
  float: left;
  background: -o-linear-gradient(bottom, rgb(85, 1, 200), rgb(135, 1, 200));
  background: linear-gradient(to top, rgb(85, 1, 200), rgb(135, 1, 200));
  padding: 1rem;
  border-radius: 9px;
  -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  -webkit-animation: slide-down 0.3s ease-out forwards;
  animation: slide-down 0.3s ease-out forwards;
}

@media (max-width: 40rem) {
}

@-webkit-keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -125%);
    transform: translate(-50%, -125%);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -125%);
    transform: translate(-50%, -125%);
  }
}

@media (max-width: 40rem) {
  .modal {
    font-size: 1.75rem;
  }
}
