.details {
  width: 75%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "title title"
    "image image"
    "image image"
    "info info";
}

.details h1 {
  -ms-grid-column-span: 2;
  grid-area: title;
  width: 60%;
  border-bottom: 1px solid rgb(225, 225, 225);
  padding: 1rem;
  margin: auto;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.image {
  -ms-grid-row-span: 2;
  -ms-grid-column-span: 2;
  grid-area: image;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 4.25rem;
  height: 100%;
  width: 100%;
  max-height: 78vh;
}
.image img {
  border-radius: 12px;
  height: 90%;
  width: 90%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-animation: hover-out 0.5s ease-in-out forwards;
  animation: hover-out 0.5s ease-in-out forwards;
}

.info {
  -ms-grid-column-span: 2;
  grid-area: info;
  margin-top: 4.25rem;
  padding: 0 2.5rem;
  height: 79vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 18px;
}

.info span {
  font-weight: 500;
}

.btn {
  grid-area: button;
  width: 100%;
  color: white;
  background-color: rgb(158, 0, 220);
  padding: 0.5rem 0.5rem;
  border: 2px solid rgb(158, 0, 220);
  border-radius: 6px;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  color: white;
  background: rgb(158, 0, 220);
}

[disabled] {
  color: rgb(160, 160, 160);
  cursor: default;
}

.added,
.added:hover {
  color: white;
  border: 2px solid rgb(0, 180, 0);
  background: rgb(0, 180, 0);
  cursor: default;
}

.failed,
.failed:hover {
  color: white;
  border: 2px solid rgb(225, 0, 0);
  background: rgb(225, 0, 0);
  cursor: default;
}

.list button {
  height: 100%;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
}

.list button:hover {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.list a:hover {
  background: -o-linear-gradient(
    left,
    transparent,
    rgb(225, 225, 225),
    transparent
  );
  background: linear-gradient(
    to right,
    transparent,
    rgb(225, 225, 225),
    transparent
  );
}

.image img:hover {
  -webkit-animation: hover-in 0.5s ease-in-out forwards;
  animation: hover-in 0.5s ease-in-out forwards;
}

@-webkit-keyframes hover-in {
  from {
    scale: 1;
  }
  to {
    scale: 1.2;
  }
}

@keyframes hover-in {
  from {
    scale: 1;
  }
  to {
    scale: 1.2;
  }
}
@-webkit-keyframes hover-out {
  from {
    scale: 1.2;
  }
  to {
    scale: 1;
  }
}
@keyframes hover-out {
  from {
    scale: 1.2;
  }
  to {
    scale: 1;
  }
}

@media (min-width: 576px) {
  .image img {
    height: 70%;
    width: 70%;
  }
  .info {
    font-size: 20px;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .details {
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: (50%) [auto];
    grid-template-rows: repeat(auto, 50%);
    grid-template-areas:
      "title title"
      "image info"
      "image button";
  }
  .details h1 {
    padding-top: 2rem;
  }
  .info {
    font-size: 1.5rem;
    height: 78vh;
  }
  .btn {
    width: 100%;
    padding: 1rem 0.5rem;
    margin-top: 2rem;
    font-size: 24px;
    color: white;
    background: rgb(158, 0, 220);
  }
  .details h1 {
    -ms-grid-column-span: 2;
  }
  .image {
    -ms-grid-row-span: 2;
    -ms-grid-column-span: 1;
  }
  .info {
    -ms-grid-column-span: 1;
    margin-top: 4.25rem;
  }
}

@media (min-width: 992px) {
  .details h1 {
    padding: 1rem;
    margin: auto;
  }

  .image {
    -ms-grid-row-span: 2;
    -ms-grid-column-span: 2;
    grid-area: image;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 4.25rem;
    height: 100%;
    width: 100%;
    max-height: 78vh;
  }

  @media (min-width: 768px) {
    .image {
      -ms-grid-row-span: 2;
      -ms-grid-column-span: 1;
    }
  }
  .image img {
    border-radius: 12px;
    height: 75%;
    width: 75%;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-animation: hover-out 0.5s ease-in-out forwards;
    animation: hover-out 0.5s ease-in-out forwards;
  }

  .info {
    margin-top: 4.6rem;
    font-size: inherit;
  }

  .btn {
    width: 70%;
    border: 2px solid rgb(158, 0, 220);
    color: rgb(35, 1, 45);
    background: transparent;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 20px;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .btn:hover {
    color: white;
    background: rgb(158, 0, 220);
  }

  [disabled] {
    color: rgb(160, 160, 160);
    cursor: default;
  }

  .added,
  .added:hover {
    color: white;
    border: 2px solid rgb(0, 180, 0);
    background: rgb(0, 180, 0);
    cursor: default;
  }

  .failed,
  .failed:hover {
    color: white;
    border: 2px solid rgb(225, 0, 0);
    background: rgb(225, 0, 0);
    cursor: default;
  }
}

@media (min-width: 1200px) {
  .btn {
    width: 50%;
  }
}

@media (min-width: 1400px) {
  .btn {
    width: 40%;
  }
}
