.paginator {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2.2rem;
}
.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.control-button {
  color: white;
  background: rgb(85, 1, 125);
  border-radius: 360px;
  height: 1.5rem;
  width: 1.4rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
  margin: 0 0.4rem;
  cursor: pointer;
}

.control {
  width: 2rem;
  height: 2rem;
  padding: 0.25rem 0.25rem;
  margin: 0.3rem 0.1rem;
  background: transparent;
  font: inherit;
  cursor: pointer;
  font-size: 1rem;
  color: rgb(85, 1, 125);
  border: 1px solid transparent;
  border-radius: 360px;
}

.control:hover,
.control:active,
.control.active {
  color: white;
  border: 1px solid rgb(85, 1, 125);
  background: rgb(85, 1, 125);
}

.control-button:hover {
  background: white;
  color: rgb(85, 1, 125);
}

@media (min-width: 768px) {
  .paginator {
    margin: 3.2rem;
  }
}

@media (min-width: 992px) {
  .paginator {
    margin: 1.4rem;
  }
}
